
@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}
.logos-slide {
  animation: 25s slide infinite linear;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}